<%= form_for :rating, url: ratings_path, html: { method: :post } do |f| %>
  <h4>Professionalism</h4>
  <fieldset class="rating">
    <%= f.radio_button(:professionalism, "5") %> <%= f.label(:professionalism.to_s + "_5", "Rocks") %>
    <%= f.radio_button(:professionalism, "4") %> <%= f.label(:professionalism.to_s + "_4", "Pretty good") %>
    <%= f.radio_button(:professionalism, "3") %> <%= f.label(:professionalism.to_s + "_3", "Meh") %>
    <%= f.radio_button(:professionalism, "2") %> <%= f.label(:professionalism.to_s + "_2", "Kinda bad") %>
    <%= f.radio_button(:professionalism, "1") %> <%= f.label(:professionalism.to_s + "_1", "Sucks big time") %>
  </fieldset>
  <br><br>

  <h4>Value for money</h4>
  <fieldset class="rating">
    <%= f.radio_button(:value, "5") %> <%= f.label(:value.to_s + "_5", "Rocks") %>
    <%= f.radio_button(:value, "4") %> <%= f.label(:value.to_s + "_4", "Pretty good") %>
    <%= f.radio_button(:value, "3") %> <%= f.label(:value.to_s + "_3", "Meh") %>
    <%= f.radio_button(:value, "2") %> <%= f.label(:value.to_s + "_2", "Kinda bad") %>
    <%= f.radio_button(:value, "1") %> <%= f.label(:value.to_s + "_1", "Sucks big time") %>
  </fieldset>
  <br><br>

  <h4>Cleanliness</h4>
  <fieldset class="rating">
    <%= f.radio_button(:cleanliness, "5") %> <%= f.label(:cleanliness.to_s + "_5", "Rocks") %>
    <%= f.radio_button(:cleanliness, "4") %> <%= f.label(:cleanliness.to_s + "_4", "Pretty good") %>
    <%= f.radio_button(:cleanliness, "3") %> <%= f.label(:cleanliness.to_s + "_3", "Meh") %>
    <%= f.radio_button(:cleanliness, "2") %> <%= f.label(:cleanliness.to_s + "_2", "Kinda bad") %>
    <%= f.radio_button(:cleanliness, "1") %> <%= f.label(:cleanliness.to_s + "_1", "Sucks big time") %>
  </fieldset>
  <br><br><br>

  <h4>Description of Job</h4>
  <%= f.number_field(:freelancer_id, {:style => 'display:none', :value => @freelancer.id}) %>

  <p>
    <%= f.text_field(:description_of_job, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
  </p>
<% end %>
